<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{inicio :: head}">
    <meta charset="UTF-8" />
    <title>Info</title>
  </head>
  <body>
    <h2>¿Como funciona?</h2>
    <p>
      El juego de dados se juega con dos dados. En caso de que el resultado de
      la suma de ambos dados sea 7, la partida será ganada, si no es perdida.
    </p>

    <h2>¿Como jugar?</h2>
    <p>
      Si es la primera vez has de crear un usuario o si ya tienes usuario click
      jugar
    </p>
    <h3 class="btn btn-outline-warning">
      nota: el nombre de usuario a de ser unico
    </h3>
    <a href="/inicio" class="btn btn-outline-primary">
      volver a la pagina de inicio</a>
  </body>
</html>
