<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{inicio :: head}">
    <meta charset="UTF-8" />
    <title>Alta Jugador</title>
  </head>
  <body>
    <h1>Escribe tu nombre de jugador:</h1>

    <form th:object="${jugador}" th:action="@{/players/register}" method="post">        
      <label for = "password">Nombre:</label>
      
      <input
        type="text"
        th:field="*{nombre}" id = "nombre"
        placeholder="Escribe un nombre de jugador"
      />

      <div th:errors="*{nombre}"></div>
      <label for = "password">Password:</label>
      <input
        type="password"
        th:field="*{password}"
        placeholder="Escribe tu contraseña"
      />

      <div th:errors="*{password}"></div>

      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
