<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar jugadas</title>
</head>
<body>
    <h1>Listar jugadas</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Dado 1</th>
                <th>Dado 2</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tirada : ${tiradas}">
                <td th:text="${tirada.fecha}"></td>
                <td th:text="${tirada.dado1}"></td>
                <td th:text="${tirada.dado2}"></td>
                <td th:text="${tirada.total}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
